.hide {
	display: none;
}
#addclient{
	margin-bottom: 20px;
}
.row {

}
.ui-collapsible-content {
	background: #FFF;
/* 	padding-top: 10px; */
}
#clientcontact {
	display: none;
}
.ui-controlgroup {

}
.ui-content .ui-listview-filter {
	margin-top: 0;
}