<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Hitchless</title>
	<link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="assets/css/bootstrap-responsive.css" type="text/css">
	<link rel="stylesheet" href="assets/css/hitchless.css" type="text/css">
	<meta name="viewport" content="width=device-width,user-scalable=no">
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand">hitchless Invoicing</a>
      <div class="nav-collapse">
        <a class="btn btn-mini pull-right" href="{{ url }}">{{ url_linktext }}</a>
        <ul class="nav">

        	<li class="dropdown">
	        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	        		Clients 
	        		<b class="caret"></b>
	        	</a>
	        	<ul class="dropdown-menu">
				{% for client in clients %}
					<li {% ifequal client.business businessname %} class="active" {% endifequal %}>
						<a href="/dashboard?clientkey={{ client.key }}#{{starttab}}">{{ client.business }} </a>
					</li>
				{% endfor %}
				</ul>
			</li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">

	<section class="row-fluid">
<!--
		<ul id="clientlist">
		{% if clients %}
		{% for client in clients %}
			<li><a href="dashboard?clientkey={{ client.key }}">{{ client.business }}</a></li>
		{% endfor %}
		{% else %}
			<p>No contacts.</p>
		{% endif %}
		</ul>
-->
		
		<form method="post" action="/client" class="addclient">
		    <fieldset>
		        <legend>Add a Client</legend>
		        <div><label><span>Business</span> <input type="text" name="business" size="20"></label></div>
		        <div><label><span>Name</span> <input type="text" name="name" size="20"></label></div>
		        <div><label><span>Title</span> <input type="text" name="title" size="20"></label></div>
		        <div><label><span>Email</span> <input type="email" name="email" size="20"></label></div>
		        <div><label>Notes:<br><textarea name="notes" cols="30" rows="5"></textarea></label></div>
		        <button class="btn btn-primary">Add Client</button>
		    </fieldset>
		</form>
	
	</section> <!-- /#main -->

</section> <!-- /.row-fluid -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap-transition.js"></script>
<!-- <script src="/assets/js/bootstrap-alert.js"></script> -->
<script src="/assets/js/bootstrap-modal.js"></script>
<script src="/assets/js/bootstrap-dropdown.js"></script>
<!-- <script src="/assets/js/bootstrap-scrollspy.js"></script> -->
<script src="/assets/js/bootstrap-tab.js"></script>
<!-- <script src="/assets/js/bootstrap-tooltip.js"></script> -->
<!-- <script src="/assets/js/bootstrap-popover.js"></script> -->
<script src="/assets/js/bootstrap-button.js"></script>
<script src="/assets/js/bootstrap-collapse.js"></script>
<!-- <script src="/assets/js/bootstrap-carousel.js"></script> -->
<!-- <script src="/assets/js/bootstrap-typeahead.js"></script> -->
<script src="/assets/js/hitchless.js"></script>
</body>
</html>
