<html>
<head>
	<title>Hitchless</title>
	<link rel="stylesheet" href="css/desktop.css" type="text/css">
	<link rel="stylesheet" type="text/css" media="only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="/css/mobile.css">
	<meta name="viewport" content="width=device-width,user-scalable=no">
</head>
<body>
<div id="container">
<h1><a href="/">&lArr;</a> Group Finder</h1>
<ul>
{% for group in groups %}
<li><strong>{{ group.0 }}</strong><br>{{ group.1 }}</li>
{% endfor %}
</ul>
</form>
</div>
</body>
</html>