<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ client.0.business }} ~ {{ title }}</title>
	<link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="assets/css/bootstrap-responsive.css" type="text/css">
	<link rel="stylesheet" href="assets/css/hitchless.css" type="text/css">
</head>
<body id="projectlist">

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" id="showcinfo" href="#clientinfo">{{ businessname }}</a>
      <div class="nav-collapse">
        <ul class="nav">
        	<li class="dropdown">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Clients <b class="caret"></b></a>
        	<ul class="dropdown-menu">
			{% for client in allclients %}
				<li 
				{% ifequal client.business businessname %} class="active" {% endifequal %}
				><a href="/dashboard?clientkey={{ client.key }}">{{ client.business }} </a></li>
			{% endfor %}
				<li><a href="/">All</a></li>
			</ul>
			</li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
    

<div class="container">


<div id="clientinfo" class="vcard">
	<div class="name">{{ client.0.name }}, <span class="title">{{ client.0.title }}</span></div>
	<div class="email"><a href="mailto:{{ client.0.email }}">{{ client.0.email }}</a></div>
	<div class="notes">{{ client.0.notes }}</div>
</div>


<div class="container">
<nav id="nav">
	<ul>
<!-- 		<li><a class="clientmenu" href="#clientnav">clients</a></li> -->
		<li><a href="#projects">projects</a></li>
{% if projectkeys %}
		<li><a href="#timeform">add time</a></li>
{% endif %}
{% if invoices %}
		<li><a href="#invoices">invoices</a></li>
{% endif %}
	</ul>
</nav>
{% if invoices %}
<section id="invoices" class="panel">
<!-- <header><h1>Invoices</h1></header> -->

<nav id="invoicefilter" class="filter">
    <a href="#" class="showallinvoices">All</a>
    <a href="#paid" class="filterinvoices">Paid</a>
    <a href="#draft" class="filterinvoices">Draft</a>
    <a href="#invoiced" class="filterinvoices">Sent</a>
</nav>

{% for invoice in invoices %}
<div id="invoice-{{ invoice.key.id }}" class="inv {{ invoice.status }}">

<a href="/invoice?iid={{ invoice.key }}" class="total">
    #{{ invoice.inum }} 
    <span>${{ invoice.totalbill }}</span>
    {{ invoice.date }} -
    {{ invoice.status }}
</a>



</div>
{% endfor %}

</section> <!-- /#invoices -->
{% endif %}
<section id="projects" class="panel">
<!-- <header><h1>Projects</h1></header> -->

<form action="/project" method="post" id="addproject">
	<fieldset>
		<legend>Add a project</legend>
		<input type="hidden" name="clientkey" value="{{ clientkey }}">
		<input type="text" id="pname" name="pname" size="25" placeholder="Project name">
<!--		<label>Budget <input type="number" id="budget" name="budget" size="5" placeholder="hrs"></label> -->
		<input type="submit" value="Add Project">
	</fieldset>
</form>
{% if projectkeys %}
<form action="/invoice" method="post" id="addinvoice">
	<fieldset>
		<legend>Projects</legend>
		<input type="hidden" name="clientkey" value="{{ clientkey }}">
		<input id="newinvoice" type="submit" value="New Invoice">
		<div>
		{% for project in projectkeys %}
		<div class="project">
            <a href="/project?action=delete&pid={{ project.key }}&cid={{ projectkeys.0.client.key }}">x</a>
			<input class="invoiceproject" 
					type="checkbox" 
					name="projects" 
					value="{{ project.key }}" {% ifequal project.status 'empty' %} disabled {% endifequal %}>
			<a class="sheet" href="/timesheet?pid={{ project.key }}">{{ project.pname }}</a>
			<div class="sheetplaceholder">
				
			</div>
		</div>
		{% endfor %}
		</div>		
	</fieldset>
</form>
{% endif %}
</section> <!-- /#projects -->
{% if projectkeys %}

{% include "timeform.html" %}

{% endif %}
</div>
</div>


    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap-transition.js"></script>
    <script src="/assets/js/bootstrap-alert.js"></script>
    <script src="/assets/js/bootstrap-modal.js"></script>
    <script src="/assets/js/bootstrap-dropdown.js"></script>
    <script src="/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/assets/js/bootstrap-tab.js"></script>
    <script src="/assets/js/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap-popover.js"></script>
    <script src="/assets/js/bootstrap-button.js"></script>
    <script src="/assets/js/bootstrap-collapse.js"></script>
    <script src="/assets/js/bootstrap-carousel.js"></script>
    <script src="/assets/js/bootstrap-typeahead.js"></script>

</body>
</html>
