<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ client.0.business }} ~ {{ title }}</title>
	<link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="assets/css/bootstrap-responsive.css" type="text/css">
	<link rel="stylesheet" href="assets/css/hitchless.css" type="text/css">
</head>
<body id="projectlist">

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <span class="brand">{{ businessname }}</span>
      <div class="nav-collapse">
        <ul class="nav">
        	<li>
        		<a data-toggle="modal" href="#clientinfo">Contact</a>
        	</li>
        	<li class="dropdown">
	        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	        		Clients 
	        		<b class="caret"></b>
	        	</a>
	        	<ul class="dropdown-menu">
				{% for client in allclients %}
					<li {% ifequal client.business businessname %} class="active" {% endifequal %}>
						<a href="/dashboard?clientkey={{ client.key }}">{{ client.business }} </a>
					</li>
				{% endfor %}
					<li><a href="/">All</a></li>
				</ul>
			</li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
    

<div class="container-fluid">


<div class="modal hide fade" id="clientinfo">
 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Contact Info</h3>
  </div>
  <div class="modal-body">
	<div class="name">{{ client.0.name }}, <span class="title">{{ client.0.title }}</span></div>
	<div class="email"><a href="mailto:{{ client.0.email }}">{{ client.0.email }}</a></div>
	<div class="notes">{{ client.0.notes }}</div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>




<ul class="nav nav-pills">
{% if invoices %}
	<li><a href="#invoices" data-toggle="tab">invoices</a></li>
{% endif %}
	<li><a href="#projects" data-toggle="tab">projects</a></li>
{% if projectkeys %}
	<li><a href="#timeform" data-toggle="tab">add time</a></li>
{% endif %}
</ul>
<div class="tab-content">
	{% if invoices %}
	<div id="invoices" class="tab-pane">
		{% for invoice in invoices %}
		<div id="invoice-{{ invoice.key.id }}" class="inv {{ invoice.status }}">	
			<a href="/invoice?iid={{ invoice.key }}" class="total">
			    #{{ invoice.inum }} 
			    <span>${{ invoice.totalbill }}</span>
			    {{ invoice.date }} -
			    {{ invoice.status }}
			</a>
		</div>
		{% endfor %}
	</div> <!-- /#invoices -->
	{% endif %}
	
	<div id="projects" class="tab-pane">
	
	<form action="/project" method="post" id="addproject" class="well">
		<fieldset>
			<legend>Add a project</legend>
			<input type="hidden" name="clientkey" value="{{ clientkey }}">
			<input type="text" id="pname" name="pname" size="25" placeholder="Project name">
	<!--		<label>Budget <input type="number" id="budget" name="budget" size="5" placeholder="hrs"></label> -->
			<input type="submit" value="Add Project">
		</fieldset>
	</form>
	{% if projectkeys %}
	<form action="/invoice" method="post" id="addinvoice" class="well">
		<fieldset>
			<legend>Projects</legend>
			<input type="hidden" name="clientkey" value="{{ clientkey }}">
			<input id="newinvoice" type="submit" value="New Invoice">
			<div>
			{% for project in projectkeys %}
			<div class="project">
	            <a href="/project?action=delete&pid={{ project.key }}&cid={{ projectkeys.0.client.key }}">x</a>
				<input class="invoiceproject" 
						type="checkbox" 
						name="projects" 
						value="{{ project.key }}" {% ifequal project.status 'empty' %} disabled {% endifequal %}>
				<a class="sheet" href="/timesheet?pid={{ project.key }}">{{ project.pname }}</a>
				<div class="sheetplaceholder">
					
				</div>
			</div>
			{% endfor %}
			</div>		
		</fieldset>
	</form>
	{% endif %}
	</div> <!-- /#projects -->
{% if projectkeys %}

{% include "timeform.html" %}

{% endif %}
</div> <!-- /.tab-content -->
</div> <!-- /.container -->

<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap-transition.js"></script>
<!-- <script src="/assets/js/bootstrap-alert.js"></script> -->
<script src="/assets/js/bootstrap-modal.js"></script>
<script src="/assets/js/bootstrap-dropdown.js"></script>
<!-- <script src="/assets/js/bootstrap-scrollspy.js"></script> -->
<script src="/assets/js/bootstrap-tab.js"></script>
<!-- <script src="/assets/js/bootstrap-tooltip.js"></script> -->
<!-- <script src="/assets/js/bootstrap-popover.js"></script> -->
<script src="/assets/js/bootstrap-button.js"></script>
<script src="/assets/js/bootstrap-collapse.js"></script>
<!-- <script src="/assets/js/bootstrap-carousel.js"></script> -->
<!-- <script src="/assets/js/bootstrap-typeahead.js"></script> -->
<script src="/assets/js/hitchless.js"></script>
</body>
</html>
