<!DOCTYPE html> 
<html> 
	<head> 
	<title>hitchless Invoicing</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="assets/css/jquery.mobile-1.1.0.min.css">
	<link rel="stylesheet" href="assets/css/jqm.css" type="text/css">
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.mobile-1.1.0.min.js"></script>
	</head> 
<body> 

<div data-role="page" id="invoices">
	<div data-role="header">
		<a href="/" 
			data-role="button" 
			data-icon="back" 
			data-theme="a">Back</a>
		<h1>{{ businessname }}</h1>
		<div data-role="navbar">
	        <ul class="nav">
	        	<li><a class="ui-btn-active ui-state-persist" href="/invoices?clientkey={{ client.0.key }}" >Invoices</a></li>
	        	<li><a href="/dashboard?clientkey={{ client.0.key }}" >Projects</a></li>
				<li><a href="/addtime?clientkey={{ client.0.key }}"  >Add Time</a></li>
<!-- 	        	<li><a href="#clientinfo">Contact</a></li> -->
			</ul>
		</div> <!-- /navbar -->
	</div><!-- /header -->

	<div data-role="content">



{% if invoices %}


	<ul data-role="listview" data-inset="true" data-filter="true" id="invoicelist">
	{% for invoice in invoices %}
	<li id="invoice-{{ invoice.key.id }}" class="inv {{ invoice.status }}">	
		<a href="/invoice?iid={{ invoice.key }}" data-ajax="false">
		    #{{ invoice.inum }}
			{{ invoice.date|date:"M jS" }}  <!--  invoice.date|date:"j-M" -->
			<small>{{ invoice.status }}</small>
		    <span class="ui-li-count">${{ invoice.totalbill|floatformat:2 }}</span>
		</a>
	</li>
	{% endfor %}
	</ul>

{% endif %}

</div> <!-- /content -->

</div> <!-- /invoices -->

<div data-role="page" id="clientcontact">

    <h3>{{businessname}}</h3>

	<div class="name">{{ client.0.name }}, <span class="title">{{ client.0.title }}</span></div>
	<div class="email"><a href="mailto:{{ client.0.email }}"><i class="icon-envelope"></i>{{ client.0.email }}</a></div>
	<div class="notes">{{ client.0.notes }}</div>

</div>
</body>
</html>
