<html>
<head>
	<meta charset="UTF-8">
	<title>Hitchless Invoicing</title>
	<link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="assets/css/bootstrap-responsive.css" type="text/css">
	<link rel="stylesheet" href="assets/css/hitchless.css" type="text/css">
	<meta name="viewport" content="width=device-width,user-scalable=no">
</head>
<body id="invoice">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/invoices?clientkey={{ times.0.invoice.client.key }}">
      	{{ times.0.invoice.client.business }}
      </a>
      <div class="nav-collapse">
        <ul class="nav pull-left">
          	<li ><a href="/invoices?clientkey={{ times.0.invoice.client.key }}">Invoices</a></li> <!-- class="active" -->
        	<li><a href="/projects?clientkey={{ times.0.invoice.client.key }}">Projects</a></li>
			<li><a href="/addtime?clientkey={{ times.0.invoice.client.key }}">Add Time</a></li>
        	<li><a data-toggle="modal" href="#clientinfo">Contact</a></li>
        </ul>




      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

{% if message %}
<div id="message">{{ message }}</div>
{% endif %}

		<div class="container">
	        {% if times.0.invoice.checksum  %}
	           <a class="btn btn-success pull-left send" href="/invoice?action=send&iid={{ times.0.invoice.key }}&cid={{ times.0.invoice.client.key }}">
	                Send {% ifequal times.0.invoice.status "sent" %} again{% endifequal %}
	            </a>
	        {% endif %}

	            {% if not times.0.invoice.checksum  %}
	            <a class="btn btn-primary pull-left" href="/invoice?action=finalize&iid={{ times.0.invoice.key }}&cid={{ times.0.invoice.client.key }}">
	                Finalize
	            </a>
	            {% endif %}
	            
	            <div class="btn-group pull-left">
					<a class="btn btn-nav dropdown-toggle" data-toggle="dropdown" href="#">
						Set Status
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
				{% for status in statuses %}
					<li class="{% ifequal times.0.invoice.status status %}active{% endifequal %}">
					<a href="/invoice?action=statusupdate&status={{ status }}&iid={{ times.0.invoice.key }}&clientkey={{ times.0.invoice.client.key }}" 
						class="">
							{{ status }}
					</a>
					</li>
				{% endfor %}
					</ul>
				</div>

	            <a class="btn btn-danger deleteitem pull-left" href="/invoice?action=delete&iid={{ times.0.invoice.key }}&cid={{ times.0.invoice.client.key }}">
	                Delete
	            </a>
	           </div> <!-- /container -->

<div class="container">

<div class="hero-unit">

<h1>Invoice #{{ times.0.invoice.inum }}</h1>
<div class="row-fluid">
<div class="span2">
	<h3>{{ times.0.invoice.date }}</h3>
	<img src="/qr?hashish={{ times.0.invoice.checksum}}" width="140">

</div>

<div class="clientdetails span7">
	
	<h2>{{ times.0.invoice.client.business }}</h2>
	<h3>{{ times.0.invoice.client.name }}, {{ times.0.invoice.client.title }}</h3>
	<p>{{ times.0.invoice.client.email }}</p>
</div>
<div class="span3">
	<img src="{{ logopath }}" alt="company logo">
	<p class="coname">{{ companyname }}<br>
	{{ companyaddress }}<br>
	{{ companycity }}, {{ companyprovince }}<br>
	{{ companycode }}</p>
</div>
</div>

</div>
<table id="main" class="table-striped">
{% for time in times %}
	{% ifchanged time.project.pname %}
	<tr><td colspan="6" class="projecthead">Project: <strong>{{ time.project.pname }}</strong></td></tr>
	{% endifchanged %}
	<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %} lineitem">
		<td width="200">{{ time.date }}</td>
		<td width="300">{{ time.note }}</td>
		<td>{{ time.hours }}<span>x</span></td>
		<td>{{ time.service }}@</td>
		<td>${{ time.rate }}/{{ time.rateunit }}</td>
		<td>${{ time.total }}</td>
	</tr>
{% endfor %}
<tr><td colspan="2" class="sub">Total Hours:</td><td>{{ totalhours }}</td><td></td><td></td><td></td></tr>
<tr><td colspan="6" class="separator"></td></tr>

<tr class="sub"><td colspan="5">Subtotal:</td><td>${{ subtotal }}</td></tr>
<tr class="sub"><td colspan="5">Tax:</td><td>${{ tax }}</td></tr>
<tr class="sub"><td colspan="5">Total:</td><td>${{ totalinvoice }}</td></tr>
</table> 
<!-- Status: {{ times.0.invoice.status }} -->
{% if times.0.invoice.notes %}
<br>
Notes: {{ times.0.invoice.notes }}
{% endif %}
<div class="checksum">
<img src="/qr?hashish={{ times.0.invoice.checksum}}&checksum=1" style="float:left; margin: 0 20px 20px 0" width="80"><br>
	<span>Checksum:<br>{{ times.0.invoice.checksum }}</span>
</div>
</div> <!-- /#main -->
</div>

<div class="modal hide fade" id="clientinfo">
 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>{{ times.0.invoice.client.business }}</h3>
  </div>
  <div class="modal-body">
	<div class="name">{{ times.0.invoice.client.name }}, <span class="title">{{ times.0.invoice.client.title }}</span></div>
	<div class="email"><a href="mailto:{{ times.0.invoice.client.email }}"><i class="icon-envelope"></i>{{ times.0.invoice.client.email }}</a></div>
	<div class="notes">{{ times.0.invoice.client.notes }}</div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>


<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap-transition.js"></script>
<!-- <script src="/assets/js/bootstrap-alert.js"></script> -->
<script src="/assets/js/bootstrap-modal.js"></script>
<script src="/assets/js/bootstrap-dropdown.js"></script>
<!-- <script src="/assets/js/bootstrap-scrollspy.js"></script> -->
<script src="/assets/js/bootstrap-tab.js"></script>
<!-- <script src="/assets/js/bootstrap-tooltip.js"></script> -->
<!-- <script src="/assets/js/bootstrap-popover.js"></script> -->
<script src="/assets/js/bootstrap-button.js"></script>
<script src="/assets/js/bootstrap-collapse.js"></script>
<!-- <script src="/assets/js/bootstrap-carousel.js"></script> -->
<!-- <script src="/assets/js/bootstrap-typeahead.js"></script> -->
<script src="/assets/js/hitchless.js"></script>
</body>
</html>