<!DOCTYPE html> 
<html> 
	<head> 
	<title>hitchless Invoicing</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="assets/css/jquery.mobile-1.1.0.min.css">
	<link rel="stylesheet" href="assets/css/jqm.css" type="text/css">
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.mobile-1.1.0.min.js"></script>
<!-- 	<script src="assets/js/jqm.js"></script> -->
	</head> 
<body> 

<div data-role="page" id="projectshome">
	<div data-role="header">
		<a href="/" 
			data-role="button" 
			data-icon="back" 
			data-theme="a">Back</a>
		<h1>{{ businessname }}</h1>
		<a href="#clientcontact" class="shown">?</a>

		
		<div data-role="navbar">
	        <ul class="nav">
	        	<li><a href="/invoices?clientkey={{ client.0.key }}" >Invoices</a></li>
	        	<li><a class="ui-btn-active ui-state-persist" href="/projects?clientkey={{ client.0.key }}" >Projects</a></li>
				<li><a href="/addtime?clientkey={{ client.0.key }}" >Add Time</a></li>
<!-- 	        	<li><a href="#clientinfo">Contact</a></li> -->
			</ul>
	        <ul class="nav">
		        <li><a href="#newinvoice">New Invoice</a></li>
		        <li><a href="#addproject"x>Add Project</a></li>
	        </ul>
		</div> <!-- /navbar -->
		
	</div><!-- /header -->

	<div data-role="content">
	

    	    
		{% if times %}
		<div data-role="collapsible-set">
		
		<div> <!-- this is a hack to at least open a tag before we close it on the very first iteration. -->
		{% for time in times %}	
		{% ifchanged time.project.pname %} 
		</div>
		<div data-role="collapsible" id="{{ pslug }}">
		
			<h2>{{ time.project.pname }}</h2>
		
		{% endifchanged %}
			<div class="row">
				<div>{{ time.status }}</div>
				<div>
				{% if time.invoice.inum %}
					Invoice #{{ time.invoice.inum }}
				{% endif %} 
				</div>
				<div>
					{{ time.date|date:"D F j y P" }}
					{% ifnotequal time.status 'invoiced' %}
					<a href="/project?action=delete&pid={{ time.project.key }}&cid={{ time.client.key }}">
						x
					</a>
					{% endifnotequal %}
				</div> 
				<div>{{ time.hours }} &times; ${{ time.rate }}/{{ time.rateunit }} = ${{ time.total }}</div>
				<div>{{ time.note }}</div>

			</div>
		
		{% if forloop.last %}
			</div>
		{% endif %}
		
		
		{% endfor %}
		
		</div>
		{% endif %}
			
	</div> <!-- /content -->
	
</div> <!-- /projectshome -->
	



	
<div data-role="page" id="newinvoice" data-title="New Invoice">
	<div data-role="header">
		<a href="#projectshome" 
			data-role="button" 
			data-icon="back" 
			data-theme="a">Back</a>
		<h1>New Invoice</h1>
	</div> <!-- /header -->
	<div data-role="content">
	<form action="/invoice" method="post" id="addinvoice" >
		<fieldset>
			<input type="hidden" name="clientkey" value="{{ clientkey }}">
			<select name="projects" multiple="multiple" data-native-menu="false">
				<option data-placeholder="true">Select Projects</option>
			{% for project in projectkeys %}
			{% ifnotequal project.status 'empty' %}
				<option value="{{ project.key }}">{{ project.pname }}</option>
			{% endifnotequal %}
			{% endfor %}
			</select>
			<input type="submit" data-theme="b" value="Create Invoice">
		</fieldset>
	</form>
	</div> <!-- /content -->
</div> <!-- /newinvoice -->	



<div data-role="page" id="addproject">
	<div data-role="header">
		<a href="#projectshome" 
			data-role="button" 
			data-icon="back" 
			data-theme="a">Back</a>
		<h1>Add a project</h1>
	</div>
	<div data-role="content">
		<form action="/project" method="post" >
			<fieldset>
			<div>
				<input type="hidden" name="clientkey" value="{{ clientkey }}">
				<input type="text" id="pname" name="pname" placeholder="Project name">
		<!--		<label>Budget <input type="number" id="budget" name="budget" size="5" placeholder="hrs"></label> -->
				<input type="submit" value="Add Project">
			</div>
			</fieldset>
		</form>
	</div> <!-- /content -->
</div> <!-- /#addproject -->


		<div id="clientcontact">

		    <h3>{{businessname}}</h3>
		
			<div class="name">{{ client.0.name }}, <span class="title">{{ client.0.title }}</span></div>
			<div class="email"><a href="mailto:{{ client.0.email }}"><i class="icon-envelope"></i>{{ client.0.email }}</a></div>
			<div class="notes">{{ client.0.notes }}</div>
		
		</div>





</body>
</html>
