	<div id="timeform" class="span4 tab-pane">
		<!-- <header><h1>Tracker</h1></header> -->
		<div id="timetrack">
		<div class="modal hide fade" id="addservice">
		 <div class="modal-header">
		     <button type="button" class="close" data-dismiss="modal">×</button>
		 	<h3>Add Service</h3>
		 </div>
		 <div class="modal-body">
			<form id="addservice" class="well" action="/service" method="post">
			<fieldset>
				<legend></legend>
			    <input type="hidden" name="clientkey" value="{{ projectkeys.0.client.key }}">
			    <input type="text" name="service" id="servicename" class="span2" size="20" placeholder="Service name">
				$<input type="number" name="rate" class="input-mini" size="5" placeholder="Rate">
				/&nbsp;<input type="text" name="rateunit" class="input-mini" size="2" placeholder="Unit"><br>
				<input type="submit" class="btn btn-primary" value="Add Service">	
			</fieldset>
			</form>
		  </div>
		  <div class="modal-footer">
		    <a href="#" class="btn" data-dismiss="modal">Close</a>
		  </div>
		</div> <!-- /.modal -->
		
		<form action="/timesheet" class="well" method="post">
			<fieldset>
				<legend>Add Time</legend>
				<input type="hidden" id="clientkey" name="clientkey" value="{{ projectkeys.0.client.key }}">
				<input type="hidden" id="worker" name="worker" value="Allan">
		
				<br>
				<select id="pid" name="pid">
					{% for project in projectkeys %}
					<option value="{{ project.key }}">{{ project.pname }}</option>
					{% endfor %}
				</select>
				<br>
				<input type="datetime-local" size="30" id="datetime" name="date" placeholder="YYYY-MM-DDTHH:MM:SS">
				<br>
				<textarea id="note" name="note" rows="4" cols="30" placeholder="Note"></textarea><br>
				<select name="service">
					{% for service in services %}
					<option value="{{ service.service }} || {{ service.rate }} || {{ service.rateunit }}">{{ service.service }} ${{ service.rate }}/{{ service.rateunit }}</option>
					{% endfor %}
				</select>
				<a data-toggle="modal" href="#addservice"><span class="icon-plus-sign"></span></a><br>
				<input type="number" class="input-mini" step="any" id="hours" name="hours" size="4" placeholder="Multiplier"><br>
				<input type="submit" class="btn btn-primary" value="Add Time">
			</fieldset>
		</form>
		</div>  <!-- /#timetrack -->
		<div id="timepost"></div>
	
	</div> <!-- /#timeform -->
	
