<script type="text/javascript">
$(document).ready(function(){
	$('.close').click(function(e){
		$(this).next(".timesheet").hide(); 
		e.preventDefault();
	});	
	$('.timeitem').click(function(e){
		$(this).next('.timenote').toggle();
	});
});	
</script>
</script>
<!-- <a href="#close" class="close">x</a> -->
<div class="timesheet">
{% for entry in time %}
	<div class="timeitems">
		<div class="timeitem">
			<a class="deleteitem" href="/timesheet?action=delete&tid={{ entry.key }}&pid={{ time.0.project.key }}">x</a> 
			{{ entry.date }} - {{ entry.status }}
			<hr>
			<strong>{{ entry.hours }} x ${{ entry.rate }}/{{ entry.rateunit }} ${{ entry.total }}</strong>
		</div>
		<div class="timenote" id="time-{{ entry.key.id }}"><hr>{{ entry.note }} </div>
	</div>
	
{% endfor %}
</div>
