<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>hitchless</title>
	<link rel="stylesheet" href="css/base.css" type="text/css">
	<link rel="stylesheet" 
			type="text/css" 
			media="only screen and (max-width: 480px), only screen and (max-device-width: 480px)" 
			href="/css/mobile.css">
	<meta name="viewport" content="width=device-width,user-scalable=no">
	<script type="text/javascript" src="scripts/jquery-1.5.1.min.js"></script>
	<script type="text/javascript" src="scripts/hitchless.js"></script>
</head>
<body id="timesheet">
<div id="container">
<div id="main">
    <section id="timeform" class="panel">
    <header>
    <h1><a href="/dashboard?clientkey={{ projectkeys.0.client.key }}">&bull;</a> {{ projectkeys.0.client.business }}</h1>
    </header>
    <select>
    {% for client in allclients %}
      <option value="{{ client.key }}">{{ client.business }}</option>
		{% endfor %}
	  </select>
    <form id="addservice" action="/service" method="post">
    <fieldset>
        <legend>Add Service</legend>
        <input type="text" name="service" size="20" placeholder="Service name">
        $<input type="number" name="rate" size="5" placeholder="Rate">
        /&nbsp;<input type="text" name="rateunit" size="2" placeholder="Unit"><br>
        <input type="submit" value="Add Service">	
    </fieldset>
    </form>
    <form id="timetrack" action="/timesheet" method="post">
        <fieldset>
            <legend>Add</legend>
            <input type="hidden" id="clientkey" name="clientkey" value="{{ projectkeys.0.client.key }}">
            <input type="hidden" id="worker" name="worker" value="Allan">
            <select name="service">
                {% for service in services %}
                <option value="{{ service.service }} || {{ service.rate }} || {{ service.rateunit }}">{{ service.service }} ${{ service.rate }}/{{ service.rateunit }}</option>
                {% endfor %}
            </select>
            <a id="servicemenu" href="#addservice">+</a>
            <br>
            <select id="pid" name="pid">
                {% for project in projectkeys %}
                <option value="{{ project.key }}">{{ project.pname }}</option>
                {% endfor %}
            </select>
            <br>
            <input type="datetime-local" size="30" id="datetime" name="date" placeholder="YYYY-MM-DDTHH:MM:SS">
            <br>
            <textarea id="note" name="note" rows="4" cols="30" placeholder="Note"></textarea><br>
            <input type="number" step="any" id="hours" name="hours" size="10" placeholder="Multiplier"><br>
            <input type="submit" value="Add Time">
        </fieldset>
    </form>
    <div id="timepost">
        {% for entry in time %}
        <div class="timeitems">
            <div class="timeitem">
                <a class="deleteitem" href="/timesheet?action=delete&tid={{ entry.key }}&pid={{ time.0.project.key }}">x</a> 
                {{ entry.date }} - {{ entry.status }}
                <hr>
                <strong>{{ entry.hours }} x ${{ entry.rate }}/{{ entry.rateunit }} ${{ entry.total }}</strong>
            </div>
            <div class="timenote" id="time-{{ entry.key.id }}"><hr>{{ entry.note }} </div>
        </div>
        
    {% endfor %}
    </div>

    </section> <!-- /#timeform -->

    
</div> <!-- /#main -->
</div> <!-- /#container -->
</body>
</html>
