<script type="text/javascript">
$(document).ready(function(){
	$('.close').click(function(e){
		$(this).next(".timesheet").hide(); 
		e.preventDefault();
	});	
	$('.loadnote').click(function(e){
        $(this).next('.timenote').toggle();
        e.preventDefault();
	});
});	
</script>
</script>
<!-- <a href="#close" class="close">x</a> -->
<table class="table table-condensed">
<tr>
	
	<th>Date</th>
	<th>Hours</th>
	<th>Rate</th>
	<th>Total</th>
	<th></th>
</tr>

{% for entry in time %}
	<tr class="timeitems" id="time-{{ entry.key.id }}">

		<td>
			{{ entry.date }} <!-- - {{ entry.status }} -->
		</td>
		<td>{{ entry.hours }}</td>
		<td> ${{ entry.rate }}/{{ entry.rateunit }}</td>
		<td>${{ entry.total }}</td>
		<td class="timeitem">
			<a class="deleteitem" href="/timesheet?action=delete&tid={{ entry.key }}&pid={{ time.0.project.key }}&cid={{ time.0.project.client.key }}">x</a> 
		</td>
	</tr>
	<tr>
		<td colspan="5" class="note" style="padding-bottom: 15px;">{{ entry.note }} </td>
	</tr>
		
	</tr>
	
{% endfor %}
</table>
