<!DOCTYPE html> 
<html> 
	<head> 
	<title>hitchless Invoicing</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="assets/css/jquery.mobile-1.1.0.min.css">
	<link rel="stylesheet" href="assets/css/jqm.css" type="text/css">
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.mobile-1.1.0.min.js"></script>
	</head> 
<body> 

<div data-role="page" id="timeform">
	<div data-role="header">
		<a href="/" 
			data-role="button" 
			data-icon="back" 
			data-theme="a">Back</a>
		<h1>{{ businessname }}</h1>
		<div data-role="navbar">
	        <ul class="nav">
	        	<li><a href="/invoices?clientkey={{ client.0.key }}">Invoices</a></li>
	        	<li><a href="/projects?clientkey={{ client.0.key }}">Projects</a></li>
				<li><a class="ui-btn-active ui-state-persist" href="/addtime?clientkey={{ client.0.key }}">Add Time</a></li>
<!-- 	        	<li><a href="#clientinfo">Contact</a></li> -->
			</ul>
			<ul class="nav">
				<li><a href="#addservice" data-role="button">Add Service</a></li>
			</ul>
		</div> <!-- /navbar -->
	</div><!-- /header -->

	<div data-role="content">

		
		
		<form action="/timesheet" class="well" method="post">
			<fieldset>
				<input type="hidden" id="clientkey" name="clientkey" value="{{ projectkeys.0.client.key }}">
				<input type="hidden" id="worker" name="worker" value="Allan">
		
				<br>
				<select id="pid" name="pid">
					{% for project in projectkeys %}
					<option value="{{ project.key }}">{{ project.pname }}</option>
					{% endfor %}
				</select>
				<br>
				<input type="datetime-local" size="30" id="datetime" name="date" placeholder="YYYY-MM-DDTHH:MM:SS">
				<br>
				<textarea id="note" name="note" rows="4" cols="30" placeholder="Note"></textarea><br>
				<select class="pulleft" id="servicemenuss" name="service">
					{% for service in services %}
					<option value="{{ service.service }} || {{ service.rate }} || {{ service.rateunit }}">{{ service.service }} ${{ service.rate }}/{{ service.rateunit }}</option>
					{% endfor %}
				</select>
				<a class="btn btn-mini pull-right" data-toggle="modal" href="#addservice"><span class="icon-plus-sign"></span></a><br>
				<input type="number" class="input-mini pull-left" step="any" id="hours" name="hours" size="4" placeholder="Multiplier"><br>
				<input type="submit" class="btn btn-success btn-large pull-left" value="Add Time">
			</fieldset>
		</form>


	</div> <!-- /content -->
	
	</div> <!-- /#timeform -->

<div data-role="page" id="addservice">

	<div data-role="header">
		<a href="#timeform" 
			data-role="button" 
			data-icon="back" 
			data-theme="a">Back</a>
		<h1>Add Service</h1>
	</div> <!-- /header -->
	<div data-role="content">
	
	
			<form id="addservice" class="well" action="/service" method="post">
			<fieldset>
				<legend></legend>
			    <input type="hidden" name="clientkey" value="{{ projectkeys.0.client.key }}">
			    <input type="text" name="service" id="servicename" class="span2" size="20" placeholder="Service name">
				$<input type="number" name="rate" class="input-mini" size="5" placeholder="Rate">
				/&nbsp;<input type="text" name="rateunit" class="input-mini" size="2" placeholder="Unit"><br>
				<input type="submit" class="btn btn-primary" value="Add Service">	
			</fieldset>
			</form>
	</div> <!-- /content -->
</div> <!-- /addservice -->


	</div> <!-- /content -->

</div> <!-- /timeform -->


<div data-role="page" id="clientcontact">

    <h3>{{businessname}}</h3>

	<div class="name">{{ client.0.name }}, <span class="title">{{ client.0.title }}</span></div>
	<div class="email"><a href="mailto:{{ client.0.email }}"><i class="icon-envelope"></i>{{ client.0.email }}</a></div>
	<div class="notes">{{ client.0.notes }}</div>

</div>

    



</body>
</html>
