* { 
	margin: 0; 
	padding: 0; 
}

body, html {
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
}
body {
	background: #F1F1F1;
	background-attachment: fixed;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	overflow-y: scroll;
}
h1 {
	color: rgba(0,0,0,.8);
	font-size: 30px;
	text-shadow: 1px 1px 2px #FFF;
}
a:hover {
	color: grey;
}
strong {
	color: #666;
}
#masthead {
	background-image: 
		-webkit-gradient(linear, 0% 0%, 0% 100%, 
			from(#F9F9F9), 
			to(#E6E6E6), 
			color-stop(.5,#EEE), 
			color-stop(.5,#CCC), 
			color-stop(.53,#EAEAEA) 
		);
	border-bottom: 1px solid #EEE;
	border-top: 2px solid #FFF;
	box-shadow: 0 3px 10px rgba(0,0,0,.1);
	position: relative;
	z-index: 300;
}
#masthead header {
	background-image: -webkit-gradient(linear, 
		0% 0%, 
		0% 100%, 
		from(#F8F8F8), 
		to(#F1F1F1), 
		color-stop(.53,#EFEFEF)
	);
/* 	box-shadow: 0 0 10px rgba(0,0,0,.1); */
	color: rgba(0,0,0,.5);
	height: 45px;
	text-align: center;
	
}
#masthead header h1 {
	padding: 10px 5px 5px 5px;
}
#masthead h1 a {
	color: rgba(0,0,0);
}
section header h1 {
	clear: both;
	margin-left: 20px;
}
section h1,
h2 {
	color: rgba(0,0,0,.4);
	font-size: 20px;
	font-weight: lighter;
	margin-bottom: 0;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #FFF;
}
a {
	color: #000;
	text-decoration: none;
	text-shadow: 0 0 0 transparent;
}
li {
	list-style-type: none;
	padding: 10px;
}
li a {
/* 	display: block; */
}
hr {
	border: 0;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #EEE;
	clear: both;

}
.vcard {
	display: none;
}
.vcard,
.inv,
.project {
	background: #FFF;
	padding: 20px;

}
fieldset { 
	border: 0;
	overflow: auto;
}
legend {
	display: none;
}
.addclient {
	padding: 20px;
}
.addclient legend {
    display: block;
    font-weight: bold;
    margin: 60px;
    text-size: 30px;
}
.addclient div {
	padding: 3px;
}

.addclient label span {
	display: inline-block;
	margin-right: 5px;
	text-align: right;
	width: 80px;
}
table {
	border-collapse: collapse;
	padding: 10px;
	width: 100%;
}
th {
	font-weight: lighter;
	text-align: left;
}
td {
	padding: 5px;
	vertical-align: top;
}
li {
	overflow: auto;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="datetime-local"],
textarea
 {
	border: 1px solid #CCC;
 	border-radius: 3px;
	padding: 3px;
}
select {
	border: 0;
	border-radius: 10px;
	padding: 20px;
}
button {
	background: white;
	border: 0;
	border-radius: 3px;
	font-weight: bold;
	padding: 5px; 20px;
	text-align: center;
}
img {
	max-width: 100%;
}
a img {
	border: 0;
}
.clearboth {
	clear: both;
}
#message {
    background: green;
    color: white;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}
#container { 
	margin: 0 auto; 

}
#invoice #container {
	background: #FFF;

	padding: 40px;
}
#main {
	margin-top: 40px;
}
#main + nav {
	clear: both;
}
#nav {
	margin: 10px 0 0 0;
	text-align: center;
}
#nav li {
	display: inline-block;
	padding: 0;
}
#nav li a {
	border-radius: 3px;
	display: inline-block;
	padding: 8px 10px 10px 10px;
}
#nav li a.active {
	background: #FFF;
/* 	font-size: 22px;	 */
}
.panel {
	background: #FFF;
}
#invoicemenu {
	background: #FFF;
	padding: 5px;
}
#invoices {
	clear: both;
}
#invoices, 
#projects, 
#timeform {
	display: none;
}
#timeform input, 
#timeform select,
#timeform textarea {
	margin-bottom: 10px;
}
#invoices td {

}
#clientmenu,
#newinvoice,
.filter {
	display: none;
}
.details,
.filter {
	overflow: auto;
}

.filter a,
.mark button {
	color: #000;
	font-family: Arial;
	font-size: 14px;
	font-weight: lighter;
}
.mark button:hover {
	cursor: pointer;
}
#addproject {
	background: #FFF;
	padding: 20px;
}
#addproject input[type="submit"] {
	margin: 5px;
}
.boxcheck {
	padding-top: 7px;
	text-align: center;
	width: 30px;
}
#projectlist td {

}
.project {
/*
	max-height: 200px;
	overflow-y: scroll;
*/
}
.brief {
	background: rgba(255,255,255,1);
	border-radius: 3px;
	display: none;
	padding: 10px;

}
.sheet {
	font-size: 18px;
	text-transform: lowercase;
	text-shadow: 1px 1px 2px #FFF;
}
.odd {
	background: rgba(0,0,0,.05);
}

#showaddproject {
	background: #FFF;
}


.iid a {
	display: inline-block;
	padding: 3px;
}

.iid div {
	padding: 0 10px;
}
#projectlist td a {

}
.sub {
	text-align: right;
}
.draft {
	background: rgba(255,255,255,.9);
}
.invoiced {
/* 	background: rgba(255,255,255,1); */
}
.paid {
	background: rgba(208, 240, 192, 1);
    /* display: none;*/
}
.date {
	font-size: 18px;
}
.clientmenu {
	background: #FFF;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
/* 	margin: -10px 5px 0 0; */
	padding-top: 7px;
	position: absolute;
	right: 5px;
	top: 0;
}
#clientnav {
	background: rgba(255,255,255,1);
	display: none;
	position: relative;


}
#clientnav li {
	padding: 0;
}
#clientnav li a {

	display: block;
	padding: 15px 20px;
}

#addservice {
	border-radius: 10px;
	display: none;
	padding: 5px;
}
.clientdetails {
	margin: 10px 0;	
}
.companydetails {
	float: right;
	margin-top: -55px;
	text-align: right;
}

.status {
	color: rgba(0,0,0,.1);
}
.mark {
	
}

.sheetplaceholder {
	overflow: hidden;
	white-space: normal;
}
.invoice {
	background: rgba(255,255,255,.6);

}


#timetrack {
	background: rgba(255,255,255,1);
	padding: 20px;
}



.timeitems {


}
.timeitem {
	margin: 10px 0;	
}
.timenote {
	background: rgba(255,255,255,.5);
	display: none;
}
.deleteitem {
	border-radius: 7.5px;

	display: block;
	height: 15px;
	float: right;
	font-size: 10px;
	text-align: center;
	width: 15px;
}
.deleteitem:hover {
	color: #000;

}
.deleteitem:active {

}
.projecthead {
	border-bottom: 1px solid #999;

	padding: 10px 0;
}
.checksum span {
	display: block;
	font-size: 10px;
	margin: 30px 0 0 5px;
}
.coname {
	font-size: 16px;
	font-weight: bold;
}
.total span {

    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 2px;
}
.deleted {
    display: none;
}
